.App {
  position: relative;
}

.GameContainer {
  display: grid;
  grid: repeat(3, 30vh) / auto-flow 40vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1300px;
  max-height: 650px;
  margin: auto;
  overflow: hidden;
  background-color: dimgray;
}

.MessagesContainer {
  position: relative;
  top: 1vh;
  left: 1vw;
  width: 98vw;
  height: 10vh;
  max-width: 1300px;
  max-height: 650px;
  border: 1px khaki solid;
  background: gold;
}

.MapContainer {
  position: relative;
  top: -18vh;
  left: 1vw;
  width: 98vw;
  height: 60vh;
  max-width: 1300px;
  max-height: 650px;
  border: 1px salmon solid;
  background: grey;
}

.StatusContainer {
  position: relative;
  top: 20vh;
  left: 1vw;
  /* bottom: 0px; */
  width: 98vw;
  height: 10vh;
  max-width: 1300px;
  max-height: 650px;
  border: 1px greenyellow solid;  
  background: plum;
}